# Read dataset from PostgreSQL

In [29]:
import pandas as pd
from sqlalchemy import create_engine

# Connection string (sesuaikan dengan yang Anda gunakan)
engine = create_engine('postgresql+psycopg2://postgres:0000@localhost:5434/Employee_Retention_Project')

# Query untuk membaca data
query = "SELECT * FROM employee_data"

# Membaca data ke dalam DataFrame
with engine.begin() as connection:
    df = pd.read_sql(query, connection)

df

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,...,NomorHP,Email,TingkatPendidikan,PernahBekerja,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
0,spiritedPorpoise3,111065,Belum_menikah,Pria,Outsource,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Employee_Referral,...,+6282232522xxx,spiritedPorpoise3135@yahoo.com,Magister,1,1.0,masih_bekerja,1972-07-01,2011-01-10,2016-2-15,-
1,jealousGelding2,106080,Belum_menikah,Pria,FullTime,Data Analyst,Freshgraduate_program,Sangat_kurang,Jakarta Utara,Website,...,+6281270745xxx,jealousGelding2239@yahoo.com,Sarjana,1,1.0,toxic_culture,1984-04-26,2014-01-06,2020-1-17,2018-6-16
2,pluckyMuesli3,106452,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,...,+6281346215xxx,pluckyMuesli3961@icloud.com,Magister,1,1.0,jam_kerja,1974-01-07,2011-01-10,2016-01-10,2014-9-24
3,stressedTruffle1,106325,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,...,+6283233846xxx,stressedTruffle1406@hotmail.com,Sarjana,1,0.0,masih_bekerja,1979-11-24,2014-2-17,2020-02-04,-
4,shyTermite7,111171,Belum_menikah,Wanita,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Timur,LinkedIn,...,+6287883263xxx,shyTermite7149@gmail.com,Sarjana,1,0.0,ganti_karir,1974-11-07,2013-11-11,2020-1-22,2018-09-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,dopeySheep0,106034,Belum_menikah,Wanita,FullTime,Data Engineer,Mid_level,Bagus,Jakarta Pusat,Google_Search,...,+6283343465xxx,dopeySheep0297@icloud.com,Sarjana,1,None,None,1973-12-08,2011-9-26,2016-03-01,-
283,yearningPorpoise4,106254,-,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Timur,LinkedIn,...,+6281222782xxx,yearningPorpoise4421@yahoo.com,Sarjana,1,None,jam_kerja,1974-12-01,2013-5-13,2020-1-28,2017-11-15
284,murkySausage9,110433,Menikah,Wanita,FullTime,Software Engineer (Front End),Senior_level,Biasa,Jakarta Pusat,Diversity_Job_Fair,...,+6285821950xxx,murkySausage9688@yahoo.com,Sarjana,1,1.0,ganti_karir,1969-10-30,2013-11-11,2020-1-21,2018-06-08
285,truthfulMoth4,110744,Belum_menikah,Pria,FullTime,Software Engineer (Android),Mid_level,Bagus,Jakarta Utara,Google_Search,...,+6287787391xxx,truthfulMoth4663@yahoo.com,Sarjana,1,0.0,kejelasan_karir,1981-10-01,2011-5-16,2014-04-05,2018-04-01
286,puzzledFish5,106214,Menikah,Pria,Internship,Data Analyst,Mid_level,Bagus,Jakarta Barat,Indeed,...,+6287722818xxx,puzzledFish5776@hotmail.com,Sarjana,1,None,None,1981-08-10,2012-8-16,2020-1-14,-

# Check Data

## Check for null values, unique values, and data types

In [30]:
data_summary = pd.DataFrame({
    'Total Null': df.isna().sum(),
    'Percentage Null': df.isna().sum() * 100 / len(df),
    'Number of Unique Values': df.nunique(),
    'Data Type': df.dtypes,
    'Unique Values': df.apply(lambda col: col.dropna().unique().tolist()),
    'Mode': df.apply(lambda col: col.mode().iloc[0] if not col.mode().empty else None)
})

# Format Percentage Null
data_summary['Percentage Null'] = data_summary['Percentage Null'].apply(
    lambda x: f"{x:.2f}%" if x != 0 else "0%"
)

data_summary

,Total Null,Percentage Null,Number of Unique Values,Data Type,Unique Values,Mode
Username,0,0%,285,object,"[spiritedPorpoise3, jealousGelding2, pluckyMue...",boredEggs0
EnterpriseID,0,0%,287,int64,"[111065, 106080, 106452, 106325, 111171, 10641...",100282
StatusPernikahan,0,0%,5,object,"[Belum_menikah, Menikah, Bercerai, Lainnya, -]",Belum_menikah
JenisKelamin,0,0%,2,object,"[Pria, Wanita]",Wanita
StatusKepegawaian,0,0%,3,object,"[Outsource, FullTime, Internship]",FullTime
Pekerjaan,0,0%,14,object,"[Software Engineer (Back End), Data Analyst, S...",Software Engineer (Back End)
JenjangKarir,0,0%,3,object,"[Freshgraduate_program, Senior_level, Mid_level]",Freshgraduate_program
PerformancePegawai,0,0%,5,object,"[Sangat_bagus, Sangat_kurang, Bagus, Biasa, Ku...",Biasa
AsalDaerah,0,0%,5,object,"[Jakarta Timur, Jakarta Utara, Jakarta Pusat, ...",Jakarta Pusat
HiringPlatform,0,0%,9,object,"[Employee_Referral, Website, Indeed, LinkedIn,...",Indeed
SkorSurveyEngagement,0,0%,5,int64,"[4, 3, 2, 1, 5]",3
SkorKepuasanPegawai,5,1.74%,5,object,"[4.0, 3.0, 5.0, 2.0, 1.0]",3.0
JumlahKeikutsertaanProjek,3,1.05%,9,object,"[0.0, 4.0, 6.0, 7.0, 3.0, 5.0, 1.0, 2.0, 8.0]",0.0
JumlahKeterlambatanSebulanTerakhir,1,0.35%,7,object,"[0.0, 4.0, 3.0, 5.0, 2.0, 6.0, 1.0]",0.0
JumlahKetidakhadiran,6,2.09%,22,object,"[9.0, 3.0, 11.0, 6.0, 10.0, 19.0, 4.0, 5.0, 2....",2.0
NomorHP,0,0%,287,object,"[+6282232522xxx, +6281270745xxx, +6281346215xx...",+6281202919xxx
Email,0,0%,287,object,"[spiritedPorpoise3135@yahoo.com, jealousGeldin...",abjectRuffs3176@proton.com
TingkatPendidikan,0,0%,3,object,"[Magister, Sarjana, Doktor]",Sarjana
PernahBekerja,0,0%,2,object,"[1, yes]",1
IkutProgramLOP,258,89.90%,2,object,"[1.0, 0.0]",1.0
AlasanResign,66,23.00%,11,object,"[masih_bekerja, toxic_culture, jam_kerja, gant...",masih_bekerja
TanggalLahir,0,0%,284,object,"[1972-07-01, 1984-04-26, 1974-01-07, 1979-11-2...",1976-09-22
TanggalHiring,0,0%,97,object,"[2011-01-10, 2014-01-06, 2014-2-17, 2013-11-11...",2011-01-10
TanggalPenilaianKaryawan,0,0%,127,object,"[2016-2-15, 2020-1-17, 2016-01-10, 2020-02-04,...",2020-1-14
TanggalResign,0,0%,53,object,"[-, 2018-6-16, 2014-9-24, 2018-09-06, 2019-01-...",-

## Filling null values
Fill with the median (to avoid being affected by data distribution) for numerical features.

In [31]:
numerical_has_null = [  ]

# Convert columns to numeric (handling errors and nulls)
df[numerical_has_null] = df[numerical_has_null].apply(pd.to_numeric, errors='coerce')

# Fill null values with the median
df[numerical_has_null] = df[numerical_has_null].fillna(df[numerical_has_null].median())

The column 'IkutProgramLOP' is mostly empty. However, we are keeping it for now as it might be useful for answering questions like, "Among the employees who joined the LOP program, what percentage of them resigned?" For machine learning analysis, however, this column will be dropped.

The column 'AlasanResign' contains empty values, which may indicate that the employee has not resigned. These empty values can be replaced with 'masih_bekerja', which is also the mode of the data.

In [32]:
df['AlasanResign'] = df['AlasanResign'].fillna('masih_bekerja')

# Fix the values in Column 'PernahBekerja'

the 'PernahBekerja' column has 2 unique values, '1' and 'yes', which is actually the same values.

In [33]:
df['PernahBekerja'] = df['PernahBekerja'].replace({'yes': '1'})

# Drop some unusable columns

In [34]:
data_summary = pd.DataFrame({
    'Total Null': df.isna().sum(),
    'Percentage Null': df.isna().sum() * 100 / len(df),
    'Number of Unique Values': df.nunique(),
    'Data Type': df.dtypes,
    'Unique Values': df.apply(lambda col: col.dropna().unique().tolist())
})

# Format Percentage Null
data_summary['Percentage Null'] = data_summary['Percentage Null'].apply(
    lambda x: f"{x:.2f}%" if x != 0 else "0%"
)

data_summary

,Total Null,Percentage Null,Number of Unique Values,Data Type,Unique Values
Username,0,0%,285,object,"[spiritedPorpoise3, jealousGelding2, pluckyMue..."
EnterpriseID,0,0%,287,int64,"[111065, 106080, 106452, 106325, 111171, 10641..."
StatusPernikahan,0,0%,5,object,"[Belum_menikah, Menikah, Bercerai, Lainnya, -]"
JenisKelamin,0,0%,2,object,"[Pria, Wanita]"
StatusKepegawaian,0,0%,3,object,"[Outsource, FullTime, Internship]"
Pekerjaan,0,0%,14,object,"[Software Engineer (Back End), Data Analyst, S..."
JenjangKarir,0,0%,3,object,"[Freshgraduate_program, Senior_level, Mid_level]"
PerformancePegawai,0,0%,5,object,"[Sangat_bagus, Sangat_kurang, Bagus, Biasa, Ku..."
AsalDaerah,0,0%,5,object,"[Jakarta Timur, Jakarta Utara, Jakarta Pusat, ..."
HiringPlatform,0,0%,9,object,"[Employee_Referral, Website, Indeed, LinkedIn,..."
SkorSurveyEngagement,0,0%,5,int64,"[4, 3, 2, 1, 5]"
SkorKepuasanPegawai,0,0%,5,float64,"[4.0, 3.0, 5.0, 2.0, 1.0]"
JumlahKeikutsertaanProjek,0,0%,9,float64,"[0.0, 4.0, 6.0, 7.0, 3.0, 5.0, 1.0, 2.0, 8.0]"
JumlahKeterlambatanSebulanTerakhir,0,0%,7,float64,"[0.0, 4.0, 3.0, 5.0, 2.0, 6.0, 1.0]"
JumlahKetidakhadiran,0,0%,22,float64,"[9.0, 3.0, 11.0, 6.0, 10.0, 19.0, 4.0, 5.0, 2...."
NomorHP,0,0%,287,object,"[+6282232522xxx, +6281270745xxx, +6281346215xx..."
Email,0,0%,287,object,"[spiritedPorpoise3135@yahoo.com, jealousGeldin..."
TingkatPendidikan,0,0%,3,object,"[Magister, Sarjana, Doktor]"
PernahBekerja,0,0%,1,object,[1]
IkutProgramLOP,258,89.90%,2,object,"[1.0, 0.0]"
AlasanResign,0,0%,11,object,"[masih_bekerja, toxic_culture, jam_kerja, gant..."
TanggalLahir,0,0%,284,object,"[1972-07-01, 1984-04-26, 1974-01-07, 1979-11-2..."
TanggalHiring,0,0%,97,object,"[2011-01-10, 2014-01-06, 2014-2-17, 2013-11-11..."
TanggalPenilaianKaryawan,0,0%,127,object,"[2016-2-15, 2020-1-17, 2016-01-10, 2020-02-04,..."
TanggalResign,0,0%,53,object,"[-, 2018-6-16, 2014-9-24, 2018-09-06, 2019-01-..."

Since 'PernahBekerja' only have 1 value, let's drop the column

In [35]:
df = df.drop(columns='PernahBekerja')

# Change to proper datatypes

In [36]:
# string
string_cols = ['Username','EnterpriseID','StatusPernikahan','JenisKelamin','StatusKepegawaian','Pekerjaan', 'JenjangKarir', 
               'PerformancePegawai','AsalDaerah', 'HiringPlatform','NomorHP','Email', 'TingkatPendidikan','AlasanResign']

df[string_cols] = df[string_cols].astype(str)

# numerical (integer)
num_cols = ['SkorSurveyEngagement','SkorKepuasanPegawai','JumlahKeikutsertaanProjek','JumlahKeterlambatanSebulanTerakhir', 'JumlahKetidakhadiran']
df[num_cols] = df[num_cols].astype(int)

# date
date_cols = ['TanggalLahir', 'TanggalHiring', 'TanggalPenilaianKaryawan', 'TanggalResign']
df[date_cols] = df[date_cols].apply(pd.to_datetime, errors='coerce')

C:\Users\Asty\AppData\Local\Temp\ipykernel_280892\3395053696.py:13: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df[date_cols] = df[date_cols].apply(pd.to_datetime, errors='coerce')

# Adjust the 'None' format

In [37]:
import numpy as np
df = df.where(pd.notna(df), None)
df = df.replace({'-':None,'None': None, np.nan: None})
df

,Username,EnterpriseID,StatusPernikahan,JenisKelamin,StatusKepegawaian,Pekerjaan,JenjangKarir,PerformancePegawai,AsalDaerah,HiringPlatform,...,JumlahKetidakhadiran,NomorHP,Email,TingkatPendidikan,IkutProgramLOP,AlasanResign,TanggalLahir,TanggalHiring,TanggalPenilaianKaryawan,TanggalResign
0,spiritedPorpoise3,111065,Belum_menikah,Pria,Outsource,Software Engineer (Back End),Freshgraduate_program,Sangat_bagus,Jakarta Timur,Employee_Referral,...,9,+6282232522xxx,spiritedPorpoise3135@yahoo.com,Magister,1.0,masih_bekerja,1972-07-01,2011-01-10,2016-02-15,None
1,jealousGelding2,106080,Belum_menikah,Pria,FullTime,Data Analyst,Freshgraduate_program,Sangat_kurang,Jakarta Utara,Website,...,3,+6281270745xxx,jealousGelding2239@yahoo.com,Sarjana,1.0,toxic_culture,1984-04-26,2014-01-06,2020-01-17,2018-06-16 00:00:00
2,pluckyMuesli3,106452,Menikah,Pria,FullTime,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Timur,Indeed,...,11,+6281346215xxx,pluckyMuesli3961@icloud.com,Magister,1.0,jam_kerja,1974-01-07,2011-01-10,2016-01-10,2014-09-24 00:00:00
3,stressedTruffle1,106325,Belum_menikah,Pria,Outsource,Software Engineer (Front End),Freshgraduate_program,Bagus,Jakarta Pusat,LinkedIn,...,6,+6283233846xxx,stressedTruffle1406@hotmail.com,Sarjana,0.0,masih_bekerja,1979-11-24,2014-02-17,2020-02-04,None
4,shyTermite7,111171,Belum_menikah,Wanita,FullTime,Product Manager,Freshgraduate_program,Bagus,Jakarta Timur,LinkedIn,...,11,+6287883263xxx,shyTermite7149@gmail.com,Sarjana,0.0,ganti_karir,1974-11-07,2013-11-11,2020-01-22,2018-09-06 00:00:00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
282,dopeySheep0,106034,Belum_menikah,Wanita,FullTime,Data Engineer,Mid_level,Bagus,Jakarta Pusat,Google_Search,...,16,+6283343465xxx,dopeySheep0297@icloud.com,Sarjana,None,masih_bekerja,1973-12-08,2011-09-26,2016-03-01,None
283,yearningPorpoise4,106254,-,Wanita,FullTime,Product Design (UI & UX),Freshgraduate_program,Biasa,Jakarta Timur,LinkedIn,...,11,+6281222782xxx,yearningPorpoise4421@yahoo.com,Sarjana,None,jam_kerja,1974-12-01,2013-05-13,2020-01-28,2017-11-15 00:00:00
284,murkySausage9,110433,Menikah,Wanita,FullTime,Software Engineer (Front End),Senior_level,Biasa,Jakarta Pusat,Diversity_Job_Fair,...,17,+6285821950xxx,murkySausage9688@yahoo.com,Sarjana,1.0,ganti_karir,1969-10-30,2013-11-11,2020-01-21,2018-06-08 00:00:00
285,truthfulMoth4,110744,Belum_menikah,Pria,FullTime,Software Engineer (Android),Mid_level,Bagus,Jakarta Utara,Google_Search,...,20,+6287787391xxx,truthfulMoth4663@yahoo.com,Sarjana,0.0,kejelasan_karir,1981-10-01,2011-05-16,2014-04-05,2018-04-01 00:00:00
286,puzzledFish5,106214,Menikah,Pria,Internship,Data Analyst,Mid_level,Bagus,Jakarta Barat,Indeed,...,2,+6287722818xxx,puzzledFish5776@hotmail.com,Sarjana,None,masih_bekerja,1981-08-10,2012-08-16,2020-01-14,None

In [38]:
data_summary = pd.DataFrame({
    'Total Null': df.isna().sum(),
    'Percentage Null': df.isna().sum() * 100 / len(df),
    'Number of Unique Values': df.nunique(),
    'Data Type': df.dtypes,
    'Unique Values': df.apply(lambda col: col.dropna().unique().tolist()),
    'Mode': df.apply(lambda col: col.mode().iloc[0] if not col.mode().empty else None)
})

# Format Percentage Null
data_summary['Percentage Null'] = data_summary['Percentage Null'].apply(
    lambda x: f"{x:.2f}%" if x != 0 else "0%"
)

data_summary

,Total Null,Percentage Null,Number of Unique Values,Data Type,Unique Values,Mode
Username,0,0%,285,object,"[spiritedPorpoise3, jealousGelding2, pluckyMue...",boredEggs0
EnterpriseID,0,0%,287,object,"[111065, 106080, 106452, 106325, 111171, 10641...",100282
StatusPernikahan,0,0%,5,object,"[Belum_menikah, Menikah, Bercerai, Lainnya, -]",Belum_menikah
JenisKelamin,0,0%,2,object,"[Pria, Wanita]",Wanita
StatusKepegawaian,0,0%,3,object,"[Outsource, FullTime, Internship]",FullTime
Pekerjaan,0,0%,14,object,"[Software Engineer (Back End), Data Analyst, S...",Software Engineer (Back End)
JenjangKarir,0,0%,3,object,"[Freshgraduate_program, Senior_level, Mid_level]",Freshgraduate_program
PerformancePegawai,0,0%,5,object,"[Sangat_bagus, Sangat_kurang, Bagus, Biasa, Ku...",Biasa
AsalDaerah,0,0%,5,object,"[Jakarta Timur, Jakarta Utara, Jakarta Pusat, ...",Jakarta Pusat
HiringPlatform,0,0%,9,object,"[Employee_Referral, Website, Indeed, LinkedIn,...",Indeed
SkorSurveyEngagement,0,0%,5,int32,"[4, 3, 2, 1, 5]",3
SkorKepuasanPegawai,0,0%,5,int32,"[4, 3, 5, 2, 1]",3
JumlahKeikutsertaanProjek,0,0%,9,int32,"[0, 4, 6, 7, 3, 5, 1, 2, 8]",0
JumlahKeterlambatanSebulanTerakhir,0,0%,7,int32,"[0, 4, 3, 5, 2, 6, 1]",0
JumlahKetidakhadiran,0,0%,22,int32,"[9, 3, 11, 6, 10, 19, 4, 5, 2, 50, 12, 17, 15,...",2
NomorHP,0,0%,287,object,"[+6282232522xxx, +6281270745xxx, +6281346215xx...",+6281202919xxx
Email,0,0%,287,object,"[spiritedPorpoise3135@yahoo.com, jealousGeldin...",abjectRuffs3176@proton.com
TingkatPendidikan,0,0%,3,object,"[Magister, Sarjana, Doktor]",Sarjana
IkutProgramLOP,258,89.90%,2,object,"[1.0, 0.0]",1.0
AlasanResign,0,0%,11,object,"[masih_bekerja, toxic_culture, jam_kerja, gant...",masih_bekerja
TanggalLahir,0,0%,284,datetime64[ns],"[1972-07-01 00:00:00, 1984-04-26 00:00:00, 197...",1976-09-22 00:00:00
TanggalHiring,0,0%,97,datetime64[ns],"[2011-01-10 00:00:00, 2014-01-06 00:00:00, 201...",2011-01-10 00:00:00
TanggalPenilaianKaryawan,0,0%,127,datetime64[ns],"[2016-02-15 00:00:00, 2020-01-17 00:00:00, 201...",2020-01-14 00:00:00
TanggalResign,198,68.99%,52,object,"[2018-06-16 00:00:00, 2014-09-24 00:00:00, 201...",2014-08-19 00:00:00

# Write Preprocessed data to PostgreSQL

In [21]:
from tqdm import tqdm
engine = create_engine('postgresql+psycopg2://postgres:0000@localhost:5434/Employee_Retention_Project')
batch_size = 1000
total_rows = len(df)
with engine.begin() as connection:
    for i in tqdm(range(0, total_rows, batch_size), desc="Inserting rows", dynamic_ncols=True):
        df.iloc[i:i + batch_size].to_sql('employee_data_preprocessed', connection, if_exists='replace', index=False)

Inserting rows: 100%|██████████| 1/1 [00:00<00:00, 11.76it/s]